@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap");

img {
  max-width: 100%;
  display: block;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}
/* ================== */

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Nunito Sans";
  font-style: normal;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
}
.header {
  background-color: #131313;
  padding: 24px 0 22px;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
}

.container {
  max-width: 1256px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  color: #e3b873;
}
.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.menu__menu-item {
  margin-right: 47px;
}

.menu__menu-link:hover {
  color: #e3b873;
}

.tel {
  color: #fff;
}
.tel:hover {
  color: #e3b873;
  border-bottom: 1px solid;
}
.tel:active {
  color: #e3b873;
  border-bottom: 1px solid;
}

/* .tel.activ::after {
  content: "";
  width: 69%;
  height: 1px;
  background-color: #e3b873;
  position: absolute;
  left: 0;
  bottom: 0;
} */
/* кнопка */
.button {
  display: inline-block;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: white;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}
.button:hover {
  background-color: #e3b873;
  border: 1px solid #e3b873;
}
.button-header {
  font-size: 11px;
  font-style: italic;
  font-family: "Yeseva One";
  padding: 13px 33px;
  margin-left: 45px;
}

/* ========= MAIN ======= */
/* SECTION 1 ============ */

.about {
  background-image: url(../html/img/sity.jpg);
  background-size: cover;
  background-position: center;
}
/* не получилось поставить правильно фото в секции */
.shadow {
  background: rgba(0, 0, 0, 0.7);
}

.title {
  font-family: Yeseva One;
  line-height: 53px;
  text-transform: uppercase;
  color: white;
  padding-top: 194px;
  padding-bottom: 19px;
}
.about__title {
  color: #e3b873;
}
.about__text {
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 41px;

  color: #ffffff;
}
/*  под кнопками уезжает content */

.about__button {
  width: 207px;
  height: 51px;

  font-size: 11px;
  font-style: italic;
  font-family: "Yeseva One";
  padding: 20px;
  margin: 0 20px 174px 0;
}

/* SECTION 2 ===================*/
.projects {
  background-color: #131313;
}
.projects__menu {
  display: flex;
  justify-content: flex-end;
}
.projects__item {
  margin: 89px 60px 45px 0;
}
.projects__link {
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  padding-bottom: 3px;

  color: rgba(255, 255, 255, 0.3);
}
.projects__link:hover {
  color: #e3b873;
  border-bottom: 1px solid;
}
.projects__link:active {
  color: #e3b873;
  border-bottom: 1px solid;
}
.projects__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 91px;
}
.projects__service-list {
  max-width: 490px;
}
.subtitle {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 34px;
}

.room {
  max-width: 680px;
  /* почему не видно фильтр */
  filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
}
.projects__bloc-item {
  width: 50%;
  margin-bottom: 42px;
}
.projects__bloc-item > h3 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #e3b873;
}
.projects__service-list-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  padding-bottom: 42px;
}
.subtitle-bloc {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #e3b873;
}
.projects__service-list .subtitle-bloc {
  width: 213px;
}
.projects__bloc-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  width: 161px;
  margin-bottom: 34px;

  color: #ffffff;
}
.projects__bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.online .subtitle-bloc {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 13px;
}
.projects__icon {
  display: flex;
  justify-content: center;
  padding-bottom: 257px;
}

/* section 3 ============= */
.camera__video {
  background-image: url(../html/img/men.jpg);
  width: 817px;
  height: 434px;
  margin: auto;
  margin-top: -217px;
}
.camera__shadow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}
.camera__play {
  padding-top: 146px;

  display: flex;
  justify-content: center;
  /* почему нельзя сделать  background-position: 50%; */
  background-position: 50%;

  cursor: pointer;
}
hr {
  width: 55px;
  height: 1.5px;
  background-color: #e3b873;
  margin-top: 62px;
  margin-bottom: 35px;
  border: none;
}

.camera__text {
  width: 652px;
  margin: auto;
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 37px;
  text-align: center;

  color: #363636;
}
/* ФОРМА feedbac ==== */

.feedbac__form-name {
  display: flex;
  justify-content: space-between;

  margin: auto;
}
.first-form {
  margin-bottom: 34px;
  max-width: 770px;
}
.feedbac__label {
  font-size: 13px;
  line-height: 21px;

  color: rgba(54, 54, 54, 0.5);
}
.feedbac__input {
  border: none;
  font-size: 14px;
  line-height: 23px;
  border-bottom: 1px solid #36363680;

  color: #363636;
}

.feedbac__input:hover {
  color: rgba(54, 54, 54, 0.502);
  border: 1px solid;
}
.feedbac__checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 148px;
}

/* почему не работают заданные команды для button */
.bttn {
  width: 200px;
  height: 51px;
  padding: 14px;

  font-size: 13px;
  line-height: 27px;

  border: 1px solid #e3b873;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #e3b873;
  color: #fff;
  cursor: pointer;
}
/* checkbox ========= */
.label {
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
  color: #fff;
}
.checkbox:checked + .fake {
  background-color: #e3b873;
}

/* SECTION 4 types-of-repair ========= */

.subtitle-bloc {
  color: #131313;
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}
.icon-bloc {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}
.repair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 320px;
}
.repair__bloc1 {
  background-image: url(../html/img/redecorating.jpg);

  /* background-size: cover; */
}
.repair__bloc2 {
  background-image: url(../html/img/overhaul.jpg);
}
.repair__bloc3 {
  background-image: url(../html/img/designer-repair.jpg);
}
.repeat {
  background-repeat: no-repeat;
  height: 421px;
  width: 392px;
}
.repair__bloc-content {
  width: 286px;
  padding: 25px 34px;
  margin-top: 294px;
  margin-left: 50px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.repair__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #363636;
}
.repair__wrap-list {
  list-style: disc;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.repair__price {
  width: 228px;
  height: 54px;
  margin-top: -27px;
  margin-left: 50px;
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.price__text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;

  line-height: 25px;
  text-transform: uppercase;
  padding: 15px 22px;

  color: #ffffff;
}
/* Поддержка */
.support {
  display: flex;
  justify-content: end;
  align-items: center;
}
.support-img {
  background-image: url(../html/img/fon1.jpg);
  background-repeat: no-repeat;
  height: 645px;
}
.support__bloc {
  margin-right: 130px;
}

.support__number-limb {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}
.support__number-limb:last-child {
  padding-bottom: 0;
}
.support__number-limb:first-child {
  padding-top: 10px;
}
.support__number {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.support__number::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  z-index: 1;
  background-color: #e3b873;
  margin: 6.5px 0 0 6.5px;
}
.support__number-text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #fff;
  width: 42px;
  height: 42px;
  margin: 6.5px 0 0 6.5px;
  text-align: center;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support__text {
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  max-width: 320px;
  padding-left: 17px;
  color: #363636;
}
/* ФОРМА ============ */

.support__form {
  background-color: #131313;
  width: 100%;
  max-width: 506px;
  padding: 28px 50px 28px;
  height: 509px;
}
.support__form-style {
  flex-direction: column;
  max-width: 408px;
}
.support__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
  color: #ffffff;
}

.support__label-style {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
.support__input-style {
  font-size: 14px;
  line-height: 23px;
  width: 400px;
  border: none;
  margin-bottom: 50px;
  background-color: #131313;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  color: #ffffff;
}

.support__text-style {
  font-size: 14px;
  line-height: 163.68%;
  color: #fff;
}
.email-style {
  margin-bottom: 15px;
}
.support-checkbox {
  margin-bottom: 40px;
}
.support__btn {
  display: flex;
  justify-content: end;
}
.icon-suppor {
  display: flex;
  justify-content: center;
  margin-left: 580px;
  margin-bottom: 260px;
}
.icon-suppor__text {
  font-size: 18px;
  line-height: 26px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  text-align: left;
  display: inline-flex;
  align-items: center;
  color: #e3b873;
}
/* section 5 ========*/
.img-works {
  background-image: url(../html/img/room.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 93px;
}
.works__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.works__item-design {
  cursor: pointer;
  list-style-type: none;
  font-size: 20px;
  line-height: 38px;

  color: #ffffff;
}
.works__item-links:hover {
  color: #e3b873;
  border-bottom: 1px solid;
}
.works {
  display: flex;
  justify-content: space-between;
}
.works__img-column1 {
  margin-top: -40px;
}
.works__img-column2 {
  margin-left: 43px;
  margin-top: -113px;
}

.works__img {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -40px;
}
.works__img-top {
  margin-bottom: 37px;
}

/*  section 6 ========  */
.reviews .camera__text {
  line-height: 29px;
  margin-bottom: 40px;
}

.camera__text {
}
.reviews__bloc {
  display: flex;
  justify-content: space-between;
}
.reviews__img {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.reviews__name {
  display: block;
  width: 178px;
  height: 42px;
  margin-left: 23px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #181818;
}
.reviews__text {
  font-size: 13px;
  line-height: 180%;
  padding-bottom: 67px;
  padding-left: 20px;
  padding-right: 25px;

  color: #959595;
}
.reviews__bloc-list {
  max-width: 324px;
}
.bloc-list__item-client {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.bloc-list__blockquote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 24px;
}
.reviews__validity {
  display: flex;
  justify-content: space-between;
  margin-top: -42px;
  margin-left: -16px;
}
